CrearContrato/WebContent/wsdl/ContratoSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Contrato/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Contrato" targetNamespace="http://www.example.org/Contrato/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Contrato/">
      <xsd:element name="listarTodo">
        <xsd:complexType>
          <xsd:sequence>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listarTodoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="listarTodo" type="tns:listarTodoResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="listarTodoResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="lista" type="tns:listaType"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="listaType">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="item" type="tns:itemType"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="itemType">
      	<xsd:sequence>
      		<xsd:element name="codigo_cancion" type="xsd:int"/>
      		<xsd:element name="nombre_cancion" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listarPorID">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="listarPorID" type="tns:listarPorIDRequest"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="listarPorIDResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="listarPorID" type="tns:listarPorIDResponse"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="listarPorIDRequest">
      	<xsd:sequence>
      		<xsd:element name="codigo_cancion" type="xsd:int"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="listarPorIDResponse">
      	<xsd:sequence>
      		<xsd:element name="codigo_cancion" type="xsd:int"/>
      		<xsd:element name="nombre_cancion" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listarTodoRequest">
    <wsdl:part element="tns:listarTodo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="listarTodoResponse">
    <wsdl:part element="tns:listarTodoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="listarPorIDRequest">
  	<wsdl:part element="tns:listarPorID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="listarPorIDResponse">
  	<wsdl:part element="tns:listarPorIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Contrato">
    <wsdl:operation name="listarTodo">
      <wsdl:input message="tns:listarTodoRequest"/>
      <wsdl:output message="tns:listarTodoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listarPorID">
    	<wsdl:input message="tns:listarPorIDRequest"/>
    	<wsdl:output message="tns:listarPorIDResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContratoSOAP" type="tns:Contrato">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="listarTodo">
  		<soap:operation soapAction="http://www.example.org/Contrato/listarTodo"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="listarPorID">
  		<soap:operation soapAction="http://www.example.org/Contrato/listarPorID"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contrato">
    <wsdl:port binding="tns:ContratoSOAP" name="ContratoSOAP">
      <soap:address location="http://localhost:8088/CrearContrato/services/ContratoSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
